h1{
    text-align: center;
    background-color: gray;
    padding: 10px;
    margin: auto;
    height: 30px;
}
body{
    margin: 0%;
}
button{
    color: red;
    margin: 5px;
}
p{
    padding: 5px;
}
.navagtion-bar{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }